.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 50px;
    font-size: x-large;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    border-bottom: solid;
}

.subheader{
    float: right;
    font-size: medium;
}

.font{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: black;
}

.footer{
    bottom: 10px;
    height: 50px;
    text-align: center;
    font-size: large;
    padding-top: 20px;
    color: #6c757d;
    border-top: solid;
}

.homebg{
    background-color: rgb(255, 244, 229);
}

a{
 color: #6c757d;   
 text-decoration: none;
}

a:hover{
    color: black;
}

.mainbody{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: larger;
}

.top:hover{
    color: #0085A1;
}


.italics{
    font-style: italic;
}

.back{
    text-align: left;
    padding-left: 15px;
    font-size: larger;
}